<div class="container">
    <a href="/"><img src="/images/featured-404-error-image.png" class="responsive-img"></img></a>
</div>

<h4>Full Detailed Error</h4>

<div class="jumbotron">
    <pre>{{error.stack}}</pre>
</div>